.banner{
    height: 400px;
    background-color: rgb(16,16,16);
}
.row{
padding: 0.3rem;
    >div{
        display: flex;
        overflow-x: auto;
         
    }
    >h2{
        font-weight: 200;
        font-size: 1.3rem;
    }
}

// https://api.themoviedb.org/3/movie/popular?api_key=6d195c4249045a02c427050fc4a56ac5&language=en-US&page=1

.card{
    width: 185px;
    cursor: pointer;
    margin: 0.3rem;
   
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.05);
    }
}